.moon-phase-section {
    position: fixed;
    top: 600px;
    left: 50px;
}

.moon-phase-section #moonPhaseImage {
    height: 16em;
    width: 16em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 166.5%;
    border-radius: 8em;
  }
  
  .moon-phase-section #moonPhaseName {
      margin: .5em;
      text-align: center;
      color: black;
      background-color: transparent;
  }