.App {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  width: 1600px;
}

.App-time {
  padding-top: 4em;
  font-size: 200%;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
