.clock-face {
    font-family: sans-serif;
    text-align: center;
}

.clock-face .time {
    display: inline-block;
    font-size: 600%;
}

.clock-face .dow {
    display: block;
    font-size: 200%;
}

.clock-face .mdy {
    margin-top: .5em;
    display: block;
    font-size: 150%;
}

.right-box {
    display: inline-block;
    text-align: left;
    font-size: 230%;
    width: 2em;
    margin-left: .1em;
}

.clock-face .seconds {
    display: inline-block;
    width: 4em;
}

.clock-face .suffix {
    display: inline-block;    
    width: 4em;
}